@model System.Data.DataTable
@using System.Data

@{
    ViewBag.Title = "Home Page";
}
<table border="1">
    @foreach (System.Data.DataRow row in Model.Rows)
    {
        <tr>
            <td>@row[1]</td>
        </tr>
    }
</table>